.btn {
  background-color: #4C566A; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 30px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}


.newsHeader {
  text-align: center;
}

.newsFeed {
  display:inline-block;
  width: 100%;

}

.infographic {
  flex: 1;
  padding-right: 20px;
  padding-top: 25px;
  height: 100%;
  width: 50%; 
  align-self: left;
}

.imageContainer p {
  flex: 1;
}

.imageContainer {
  display:flex;
  flex-direction: row;
}

.sumsubVideo {
  display: flex; 
  flex-direction: row;
  text-align: right;
  margin-top: 10px;
  margin-right: 20px;
}



.sumsubVideo p {
  flex: 1;
  max-width: 50%;
  align-self: left;
  text-align: left;
}

.sumsubVideo div {
  flex: 1;
  max-width: 50%;
}



.contactList {
  
  display: block;
  text-align: center;
}

.suggestionSubmit {
  background: #4C566A
}


.timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 20px;
}


.card {
  position: relative;
  max-width: 800px;
}


.card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
  padding: 30px 30px 30px 0;
}

.card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid #D08770;
}


.card:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}


.card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}


.card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}


.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}


.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}


.info {
  display: flex;
  flex-direction: column;
  background: #434C5E;
  color: white;
  border-radius: 10px;
  padding: 10px;
}


.title {
  color: #D8DEE9;
  position: relative;
}


.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  border: 3px solid #BF616A;
}


.card:nth-child(even) > .info > .title {
  text-align: right;
}


.card:nth-child(odd) > .info > .title::before {
  left: -45px;
}


.card:nth-child(even) > .info > .title::before {
  right: -45px;
}


.fixingLists {
  display: grid;
  grid-row-gap: 1em;
  grid-template-columns: 1fr 1fr;
  margin: 0 1em;
  min-width: 24em;
  padding: 1em 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}



.navBar {
  background-color: #4C566A;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar #dropdownMenu{
  overflow: hidden;
  display: none;
}

.icon{
  display: none;
}



.active {
  background-color: #04AA6D;
  color: white;
}

.navBar #dropdownMenu a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;

}

.navBar a.icon {
  
  display: none;
  position: absolute;
  right: 5%;
  top: 3vh;
}


nav {
  display:inline-flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

nav a {
  padding-left: 30px;
  padding-right: 30px;
}

p {
  font-size: 20px;
}

nav h1 {
  padding-left: 20px;
  padding-right: 20px;
}
li a {
  color: #3366CC
}


header {
  height: 20vh;
}


body {
    background: #2E3440 no-repeat center fixed;
    background-size: fill;
}

a {
  color:inherit;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #1d81b2
}

input{
  background: #4C566A;
}

html {
  justify-content: center;
  color: white;
  font: 22px "Courier New", Courier, monospace;
}

button{
  background-color: #2E3440;
  border: none;
  color: #D8DEE9;
  font: 22px "Courier New", Courier, monospace;
}
button:hover {
  color: #1d81b2;
}





@media only screen and (max-width: 768px){
  html{
    font: 17px "Courier New", Courier, monospace;
  }

  p {
    font-size: 17px;
  }

  nav{
    text-align: center;
  }  

  textarea {
    max-width: 90%
  }


  .imageContainer {
    flex-direction:column;
  }

  .infographic {
    width: auto;
  }

  .sumsubVideo {
    flex-direction: column;
  }

  .sumsubVideo iframe{
    height: 360px;
    
  }

  .sumsubVideo div{
    max-width: 100%;
  }

  .sumsubVideo p{
    max-width: 100%;
  }

  .fixingLists {
    display: block;
    margin: 0;
    
  } 


}

@media only screen and (max-width: 425px){
  .navBar {
    display: block;
    overflow: hidden;
    position: relative;
  }
  
  .btn{
    display: none;
  }

  .navBar nav a{
    display: none;
  }

  .icon {
    display: block;
  }


  .navBar a.icon {
  
    display: block;
  }
  
}

